
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LlamaTours</title>
  <link rel="stylesheet" th:href="@{/css/nosotros.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body  class="bg-dark">

    <th:block th:replace="fragments/header :: header"></th:block>

    <div class="bg-image-section-comun img-nosotros text-white">
        <div class="container-fluid p-0 h-100">
            <div class="row g-0 h-100 ">
                <!-- Primera mitad -->
                <!--<div class="col-md-6 position-relative pt-5 mt-5 bg-dark opacity-75 min-vh-100">-->
                <!-- Capa oscura con opacidad --> 
                <div class="col-md-6 position-relative bg-dark bg-opacity-75 h-100 d-flex flex-column justify-content-center px-5">
                    <h1 class="fw-bold display-4">SOBRE NOSOTROS</h1>
                    <p class="mt-3 fs-5">
                        Somos una destacada empresa de turismo con 15 años de experiencia en el mercado, especializada en ofrecer diversos viajes guiados al interior del Perú. Reconocida por Tripadvisor con el premio "Travelers' Choice Experiences" en el año 2019 por su excelencia en el servicio al cliente, la empresa se enorgullece de haber sido destacada en múltiples ocasiones por su compromiso con la calidad y la autenticidad.
                    </p>
                </div>
                
                <!-- Segunda mitad (solo imagen, sin contenido) -->
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>

    <div class="bg-image-section-comun img-mision text-white">
        <div class="container-fluid p-0 h-100">
            <div class="row g-0 h-100 ">
                <!-- Primera mitad vacía -->
            <div class="col-md-6"></div>
            
            <!-- Segunda mitad con fondo oscuro y texto -->
            <div class="col-md-6 bg-dark bg-opacity-75 h-100 d-flex flex-column justify-content-center px-5">
                <h1 class="display-5 fw-bold text-uppercase">MISIÓN</h1>
                <p class="fs-5 mt-3">
                    Brindar experiencias de viaje auténticas y memorables por el Perú, con un enfoque en la calidad, la cultura y la sostenibilidad. A través de un servicio personalizado y de alta calidad, buscamos conectar a nuestros clientes con la riqueza natural, histórica y cultural del país, garantizando seguridad, confort y satisfacción en cada uno de nuestros recorridos. Promovemos el respeto por las comunidades locales y la protección del medio ambiente, fomentando un turismo responsable que deje una huella positiva en cada destino.
                </p>
            </div>
            </div>
        </div>
    </div>

    <div class="bg-image-section-comun img-vision text-white">
        <div class="container-fluid p-0 h-100">
            <div class="row g-0 h-100 ">
                <!-- Primera mitad -->
                <!--<div class="col-md-6 position-relative pt-5 mt-5 bg-dark opacity-75 min-vh-100">-->
                <!-- Capa oscura con opacidad --> 
                <div class="col-md-6 position-relative bg-dark bg-opacity-75 h-100 d-flex flex-column justify-content-center px-5">
                    <h1 class="fw-bold display-4">VISIÓN</h1>
                    <p class="mt-3 fs-5">
                        Convertirnos en la empresa líder de turismo en Perú, reconocida a nivel mundial por nuestras experiencias únicas y sostenibles, nuestro compromiso con la autenticidad, y la excelencia en el servicio al cliente. Aspiramos a ser la primera opción para aquellos que desean descubrir las maravillas de Perú, promoviendo un turismo responsable que beneficie a las comunidades locales y preserve el patrimonio cultural y natural del país.
                    </p>
                </div>
                
                <!-- Segunda mitad (solo imagen, sin contenido) -->
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>

  <!-- Footer -->
  <th:block th:replace="fragments/footer :: footer"></th:block>

  <!-- Scripts de Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

    <script>
        let lastScrollTop = 0;
        const navbar = document.getElementById("navbar");
    
        window.addEventListener("scroll", function () {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    
            if (scrollTop > lastScrollTop) {
                // Scroll hacia abajo → ocultar navbar
                navbar.style.top = "-100px";
            } else {
                // Scroll hacia arriba → mostrar navbar
                navbar.style.top = "0";
            }
    
            lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // Previene valores negativos
        });
    </script>
</body>
</html>
