<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <header>
        <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-blur">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <img th:src="@{/imagenes/headerFooter/logoLlama.png}" alt="Logo">
                </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#listaNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="listaNav">
                    <ul id="menuu" class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item"><a th:href="@{/}" class="nav-link text-dark fw-bold">Inicio</a></li>
                        <li class="nav-item"><a th:href="@{/viaje}" class="nav-link text-dark fw-bold">Viajes</a></li>
                        <li class="nav-item"><a th:href="@{/contacto}" class="nav-link text-dark fw-bold">Contacto</a>
                        </li>
                        <li class="nav-item"><a th:href="@{/nosotros}" class="nav-link text-dark fw-bold">Sobre
                                Nosotros</a></li>
                        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{/usuarios/lista}" class="nav-link text-dark fw-bold">Admin</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('USUARIO')">
                            <a th:href="@{/perfil}" class="nav-link text-dark fw-bold">Mi Perfil</a>
                        </li>
                        <!-- Mostrar solo si el usuario NO está autenticado -->
                        <li id="change" class="nav-item" sec:authorize="isAnonymous()">
                            <a th:href="@{/login}" class="btn fw-bold ms-3"
                               style="background-color: rgb(226, 226, 4); color: #000;">
                                <i class="bi bi-person-plus-fill"></i> Login / Registro
                            </a>
                        </li>

                         <!-- Mostrar solo si el usuario está autenticado -->
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" method="post" class="d-inline">
                                <button type="submit" class="btn btn-outline-danger fw-bold ms-3">
                                    <i class="bi bi-box-arrow-right"></i> Salir
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>

</html>